.phone_animation_container {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
    border: none;
    display: flex;
    flex-direction: row;
    left: 157px;
    top: 98px;
    position: relative;
}

.phone_placeholder {
    justify-content: center;
    border: none;
    top:-20px;
}

/* Phone image responsive adjustments disabled - keeping phone non-responsive as requested */
/*
@media only screen and (min-width: 1280px) {
    .phone_animation_container {
        left: 170px;
        top: 100px;
    }
    .phone_placeholder {
        top: -15px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .phone_animation_container {
        left: 160px;
        top: 95px;
    }
    .phone_placeholder {
        top: -18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .phone_animation_container {
        left: 140px;
        top: 85px;
    }
    .phone_placeholder {
        top: -20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .phone_animation_container {
        left: 120px;
        top: 75px;
    }
    .phone_placeholder {
        top: -22px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
    .phone_animation_container {
        left: 100px;
        top: 65px;
        width: 220px;
        height: 90px;
    }
    .phone_placeholder {
        width: 200px;
        top: -25px;
    }
    .photo_animation {
        width: 200px;
        height: 400px;
        margin-top: 400px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .phone_animation_container {
        left: 80px;
        top: 55px;
        width: 190px;
        height: 80px;
    }
    .phone_placeholder {
        width: 180px;
        top: -28px;
    }
    .photo_animation {
        width: 180px;
        height: 350px;
        margin-top: 350px;
    }
}

@media only screen and (max-width: 319px) {
    .phone_animation_container {
        left: 60px;
        top: 45px;
        width: 160px;
        height: 70px;
    }
    .phone_placeholder {
        width: 150px;
        top: -30px;
    }
    .photo_animation {
        width: 150px;
        height: 300px;
        margin-top: 300px;
    }
}
*/

.photo_animation {
    position: absolute;
    background-image: url(../../assets/phone_transition_4.png);
    background-size: cover;
    background-position: center;
    height: 541px;
    width: 250px;
    right: 1px;
    top: -475px;
    margin-top: 500px;
}
